<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Students</title>
  </head>
  <body>
    <h1 class="text-center">Edit Student</h1>
    <%- include('../navbar') %>
    <div class="container">
      <form action="/students/<%=student.student_id%>/edit" method="POST">
        <p>Student ID: <%=student.student_id%></p>
        <div class="form-group">
          <label for="editStudentName">Student Name</label>
          <input
            type="text"
            class="form-control"
            id="editStudentName"
            name="name"
            value="<%=student.name%>"
            required
          />
        </div>
        <div class="form-group">
          <label for="editAddress">Street Address</label>
          <input
            type="text"
            class="form-control"
            id="editAddress"
            name="street_address"
            value="<%=student.street_address%>"
            required
          />
        </div>
        <div class="form-group">
          <label for="editCity">City</label>
          <input
            type="text"
            class="form-control"
            id="editCity"
            name="city"
            value="<%=student.city%>"
            required
          />
        </div>
        <div class="form-group">
          <label for="editState">State</label>
          <input
            type="text"
            class="form-control"
            id="editState"
            name="state"
            value="<%=student.state%>"
            aria-describedby="stateHelp"
            required
          />
          <small id="stateHelp" class="form-text text-muted"
            >Abbreviation not full state. Example: <i>NJ</i></small
          >
        </div>
        <div class="form-group">
          <label for="editZipCode">Zip Code</label>
          <input
            type="number"
            class="form-control"
            id="editZipCode"
            name="zip_code"
            value="<%=student.zip_code%>"
            required
          />
        </div>
        <div class="form-group">
          <label for="editEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="editEmail"
            name="email"
            value="<%=student.email%>"
            required
          />
        </div>
        <div class="form-group">
          <label for="editPhone">Phone</label>
          <input
            type="text"
            class="form-control"
            id="editPhone"
            name="phone_number"
            value="<%=student.phone_number%>"
            aria-describedby="phoneHelp"
            required
          />
          <small id="phoneHelp" class="form-text text-muted"
            >Example: <i>123-456-7890</i></small
          >
        </div>
        <a href="/students"
          ><button type="button" class="btn btn-secondary">Cancel</button></a
        >
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
