<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Classes</title>
  </head>
  <body>
    <h1 class="text-center">Classes</h1>
    <h2 class="text-center">Display all Classes</h2>
    <%- include('../navbar') %>
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th scope="col">Class ID</th>
              <th scope="col">Class Name</th>
              <th scope="col">Current Enrollment</th>
              <th scope="col">Max Enrollment</th>
              <th scope="col">Semester</th>
              <th scope="col">Professor</th>
              <th scope="col">Class Category</th>
              <th scope="col">Edit Class</th>
              <th scope="col">Delete Class</th>
            </tr>
          </thead>
          <tbody>
            <% classes.forEach((class_inst) => {%>
            <tr>
              <th scope="row"><%= class_inst.class_id %></th>
              <td><%= class_inst.name %></td>
              <td><%= class_inst.current_enrollment %></td>
              <td><%= class_inst.max_enrollment %></td>
              <td><%= class_inst.semester %></td>
              <td>
                <%= class_inst.professor_id %>: <%= professors.find(pro =>
                pro.professor_id == class_inst.professor_id).name %>
              </td>
              <td>
                <%= class_inst.class_category_id %>: <%= categories.find(cat =>
                cat.class_category_id == class_inst.class_category_id).name %>
              </td>
              <td class="text-center">
                <a href="/classes/<%=class_inst.class_id%>/edit"
                  ><button type="submit" class="btn btn-success">
                    Edit
                  </button></a
                >
              </td>
              <td>
                <div class="text-center">
                  <form
                    action="/classes/<%=class_inst.class_id%>/delete"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </td>
            </tr>
            <%}) %>
          </tbody>
        </table>
      </div>
    </div>
    <h2 class="text-center">Add a New Class</h2>
    <div class="container">
      <form action="/classes/create" method="POST">
        <div class="form-group">
          <label for="addClassName">New Class Name</label>
          <input
            type="text"
            class="form-control"
            id="addClassName"
            placeholder="Enter New Class Name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="addEnrollment">Max Enrollment</label>
          <input
            type="text"
            class="form-control"
            id="addEnrollment"
            placeholder="Enter Max Enrollment"
            name="max_enrollment"
          />
        </div>
        <div class="form-group">
          <label for="addSemester">Semester</label>
          <input
            type="text"
            class="form-control"
            id="addSemester"
            placeholder="Enter Semester"
            name="semester"
            aria-describedby="semesterHelp"
          />
          <small id="semesterHelp" class="form-text text-muted"
            >Example: <i>SUMMER 2023</i></small
          >
        </div>
        <div class="form-group">
          <label for="addProfessorId">Professor</label>
          <select name="professor_id" class="custom-select" id="addProfessorID">
            <option value=""></option>
            <% professors.forEach((professor) => {%>
            <option value="<%=professor.professor_id%>">
              <%=professor.professor_id%>: <%=professor.name%>
            </option>
            <%}) %>
          </select>
        </div>
        <div class="form-group">
          <label for="addCategoryId">Category</label>
          <select
            name="class_category_id"
            class="custom-select"
            id="addCategoryID"
          >
            <% categories.forEach((category) => {%>
            <option value="<%=category.class_category_id%>">
              <%=category.class_category_id%>: <%=category.name%>
            </option>
            <%}) %>
          </select>
        </div>
        <div class="text-center m-3">
          <button type="submit" class="btn btn-primary">Create Class</button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
